{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h2 class="text-center mb-4">TASKSapp helps you to navigate through ADHD</h2>
    <div class="card-group mb-4">
        <div class="card pb-4">
            <div class="card-body">
                <p class="card-text text-center">If you feel like this</p>
            </div>
            <img class="card-img-bottom w-50 mx-auto" alt="Panda lazy" src="{{url_for('static', filename='panda_1.png')}}">
        </div>
        <div class="card pb-4">
            <div class="card-body">
                <p class="card-text text-center">We got you</p>
            </div>
            <img class="card-img-bottom w-50 mx-auto" alt="Panda curious" src="{{url_for('static', filename='panda-2.png')}}">
        </div>
        <div class="card pb-4">
            <div class="card-body">
                <p class="card-text text-center">Get rewards for your completed tasks</p>
            </div>
            <img class="card-img-bottom w-50 mx-auto" alt="Panda busy" src="{{url_for('static', filename='panda-3.png')}}">
        </div>
    </div>
    <div class="row align-items-center m-4">
        <div class="col-12 text-center">
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <p class="text-secondary">
        Despite the many differences among children and adults with attention deficit disorder (ADHD or ADD), 
        there is one similarity shared by virtually all of them. Although they have considerable chronic difficulty 
        in getting organized and getting started on many tasks, focusing their attention, sustaining their efforts, 
        and utilizing their short-term working memory, all of those diagnosed with ADHD tend to have at least a few 
        specific activities or tasks for which they have no difficulty in exercising these very same functions in a 
        normal or an extraordinary way.<br>
    </p>
    <p class="text-secondary">
        The inconsistency in motivation and performance is the most puzzling aspect of ADHD. It seems like the child 
        or adult with the disorder who can show strong motivation and focus very well for some tasks should be able to 
        do the same for most other tasks that they recognize as important. It appears as if this is a simple problem of 
        lacking “willpower.” If you can do it for this, why can’t you do the same for that and that, which are even more 
        important? However, ADHD is not a matter of willpower. It is a problem with the dynamics of the chemistry of the brain.
        <a class="text-info" href="https://www.additudemag.com/adhd-motivation-problems-getting-started-on-tough-projects/">(c)</a>
    </p>
    
    

{% endblock %}